.content{
    display: block;
    position: fixed;
    top: 10%;
    left: 11%;
    min-height: 90%;
    width: 89%;
    padding: 2% 3%;
    background-color: #f7f9e0;
}

table{
    height: auto;
    margin-top: 2%;
}

.table-title{
    text-decoration: underline;
}

td{
    font-size: x-large;
    width: 150px;
}

.average{
    text-align: right;
    width: 100px;
}
