table{
    height: auto;
    margin-top: 2%;
}

.table-title{
    text-decoration: underline;
}

td{
    font-size: x-large;
    width: 150px;
}

.average{
    text-align: right;
    width: 100px;
}

.send{
    padding-left: 2%;
}

.btn{
    margin-top: -6%;
}