<aside>

    <app-button-change 
        [color]="showAll ? 'btn-danger' : 'btn-success'"
        (click)="changeShow()">
        {{ showAll ? 'Ocultar' : 'Todo' }}
    </app-button-change>

    <app-button-change 
        [color]="passFlag === 1 ? 'btn-danger' : 'btn-success'" 
        (click)="changeFlag()">
        {{ passFlag === 1 ? 'Desaprobados' : 'Aprobados' }}
    </app-button-change>

    <app-button-change 
        *ngIf="!showForm"
        (click)="changeForm()">
        Alta alumno
    </app-button-change>
    
    
    <div id="contact">
        <p>Contacto:</p>
        <a href="https://www.instagram.com/tu.ciudadania.europea" target="_blank">Instagram</a>
        <a href="https://wa.me/5493468610257" target="_blank">Whatsapp</a>
    </div>
</aside>
